
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Montserrat;
}

.parent {
	background-color: #EDF4F2;
	background-size: cover;
	min-height: 100vh;
}